@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto&display=swap');

:root {
    --background-primary: #36393F;
    --background-secondary: #2f3136;
    --background-tertiary: #202225;
    --background-popup: #18191c;

    --title-font: 'Nunito', sans-serif;
    --text-font: 'Roboto', sans-serif;

    --text-color: #ffffff;

    --positive-color: #32cd32;

    --warning-color: #d85151;
}

* {
    font-family: var(--text-font);
    color: var(--text-color);
}

html {
    height: 100%;
}

body {
    overflow: hidden;
}

.transitionContainer {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: var(--background-secondary);
    color: var(--text-color);

    animation-name: hideTransition;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    animation-delay: 1.25s;
    animation-fill-mode: forwards;

    z-index: 2;
}

@keyframes hideTransition {
    from {transform: scale(1); opacity: 1;}
    to {transform: scale(1.5); opacity: 0; z-index: -1;}
}

@keyframes showTransition {
    from {transform: scale(1.5); opacity: 0; z-index: -1;}
    to {transform: scale(1); opacity: 1; z-index: 2;}
}

.logo {
    position: absolute;
    top: 50%;
    margin-top: -93.1px;
    left: 50%;
    margin-left: -78.895px;
}

.loadingBarBack {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 25px;
    background-color: var(--background-tertiary);
}

.loadingBarFront {
    width: 0%;
    height: 100%;
    background-color: var(--positive-color);
    animation: loading 1s;
    animation-fill-mode: forwards;
}

@keyframes loading {
    from {width: 0%;}
    to {width: 100%;}
}

.titleBar {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: var(--background-tertiary);
    -webkit-app-region: drag;
    z-index: 100;
}

.titleBarButton {
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 36px;
    height: 20px;

    -webkit-app-region: no-drag;

    cursor: pointer;
}

.titleBarExit:hover {
    background-color: var(--warning-color);
}

.titleBarMinimize:hover,
.titleBarMaximize:hover {
    background-color: var(--background-secondary);
}

.titleBarExit {
    order: -1;
}

.titleBarMaximize {
    order: 0
}

.titleBarMinimize {
    order: 1;
    line-height: 1;
}

.wordmark {
    position: absolute;
    top: 0;
    left: 0;
    zoom: 0.5;
    padding: 12px 10px 3px;
}

.sideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    position: absolute;
    top: 20px;
    left: 0;

    height: 100%;
    width: 72px;

    background-color: var(--background-tertiary);
}

.sideContainerItem {
    position: relative;
    padding-top: 32px;
    font-size: 32px;
}

.sideContainerSettings {
    position: absolute;
    padding-bottom: 32px;
    bottom: 20px;
}

.tooltipVanilla,
.tooltipModded,
.tooltipSettings {
    position: absolute;
    left: 85px;
    width: auto;
    height: auto;
    line-height: 20px;
    padding: 5px 10px;
    text-align: center;
    background: rgb(24, 25, 28);
    border: 4px solid rgb(24, 25, 28);
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
    z-index: 1;
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    transform: scale(1.05);
}

.tooltipVanilla:after,
.tooltipModded:after,
.tooltipSettings:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #18191c transparent transparent;
    top: 10px;
    left: -14px;
}

.tooltipVanilla {
    top: 50px;
}

.tooltipModded {
    top: 113px;
}

.tooltipSettings {
    top: 655px;
}

.selectionContainer {
    position: absolute;
    top: 20px;
    left: 72px;
    height: 100%;
    width: 240px;
    background-color: var(--background-secondary);
}

.menuContainer {
    position: absolute;
    top: 20px;
    left: 312px;
    height: 100%;
    width: calc(100% - 312px);
    background-color: var(--background-primary);
}